PII_DB_URL_KZ=postgres://postgres:admin@piidb:5432/postgres
CLINICAL_DB_URL_KZ=postgres://postgres:admin@clinicaldb:5432/postgres
MASTER_DB_URL=postgres://postgres:admin@masterdb:5432/postgres
NODE_ENV=development
PORT=3004

STRIPE_SECRET_KEY=sk_env_1234566
STRIPE_WEBHOOK_ENDPOINT_SECRET=whsec_env_1234566

PROVIDER_URL=http://provider:3002